<%- include('partials/header') %>

<main>
    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-content">
            <h1>Flaming <span>Echo</span></h1>
            <p class="tagline"><%- tagline %></p>
            <div class="hero-buttons">
                <a href="/stories" class="btn">Explore All Stories</a>
                <a href="/about" class="btn btn-outline">About Yinye</a>
                <a href="/contact" class="btn btn-outline btn-contact">Contact Me</a>
            </div>
        </div>
    </section>


</main>

<%- include('partials/footer') %>